.box1{
    background-color: #263238;
    height: 120px;
}

.box2{
    background-color: #37474F;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}